.admin .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.admin .parent .prods{
    flex: 2;
    margin: 0 20px;
}
.admin .parent .cupons{
    flex: 1;
    margin: 0 20px;
}
.admin h1{
    color: darkcyan;
}
.admin .form{
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}
.admin .form div{
    margin-bottom: 10px;
}
.admin ul {
    text-align: left;
    min-height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 0;
}
.admin ul li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.admin .prods ul {
    height: 250px;
    overflow-y: scroll;
}
.admin .cupons ul {
    height: 420px;
    overflow-y: scroll;
}
.admin .margin-corr{
    margin-top: 1rem;
    margin-left: 1rem;
}
