
.fo{
    background-color: #2B3035;
    padding-top: 10px;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 70px;
}
.fo h6{
    color: white;
    margin: 0;
}

.fo h4{
    margin: 5px 0 0 0;
    color: whitesmoke;
}